
body{
    background-color: azure;
}
.header h1{
    text-align: center;
    font-size: 100px;
    color: blue;
    background-color: beige;
}

.header img{
    display: flex;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    border-radius: 500px;
}


h1{
    text-align: center;
    font-size: 100px;
}

h3{
    text-align: center;
    font-size: 35px;
}

h4{
    text-align: center;
    font-size: 35px;
}

.prof p{
    text-align: center;
}

.prof{
    border: 1px solid black;
    text-align: center;
    border: 1px solid black;
    margin: 50px 300px 50px;
    padding: 0px 50px 50px 50px;
    border-radius: 10px;
}

.copyright{
    text-align: center;
    font-size: 1em;
    margin: 20px;
}

