body {
    font-family: Arial, sans-serif;
    background: #e3e2e2;
    padding: 30px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: #fffcfc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

textarea {
    width: 90%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.result {
    margin-top: 20px;
    padding: 15px;
    background: #c3ddf6;
    border-radius: 5px;
    border: 1px solid black;
}