* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
    background-color: #0f172a;
    /* dark navy */
    color: white;
    position: sticky;
    top: 0;
}

.name {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #38bdf8;
}

.details ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.details ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s ease;
    position: relative;
}

.details ul li a::after {
    /* content: ""; */
    position: absolute;
    left: 0;
    bottom: -5px;
    /* width: 0%; */
    height: 2px;
    background-color: #38bdf8;
    transition: 0.3s ease;
}
.details ul li a:hover {
    color: #38bdf8;
    font-size: 105%;
}

.hire{
    margin: 0;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #38bdf8;
    border: 1px solid rgb(127, 227, 238);
    border-radius: 25px;
    color: #0f172a;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

.hire:hover {
    background-color: white;
    color: #0f172a;
    margin: -5px;
}
